@import "../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
#video-background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover; /* Ensure the video covers the screen without distortion */
z-index: -1; /* Position the video behind all other content */
}
.container {
  position: absolute;
  top: 1%; /* Center the content vertically */
  left: 29%; /* Center the content horizontally */
  background-color: $white;
  width: min(680px, 100%);
  padding: 56px;
  margin: auto;
  border-radius: 16px;
  border: 1px solid $border;
  z-index: 1; /* Ensure it stays above the video */
}
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

.heading {
  font-size: 48px;
  text-align: center;
  font-weight: 500;
  color: $black;
}
.sub-heading {
  font-size: 32px;
  text-align: left;
  font-weight: 400;
  color: $black;
  line-height: 2;
}
.line {
  width: 100%;
  height: 1px;
  background-color: $border;
}
.list {
  margin-top: 16px;
  list-style: none;
  li {
    width: 100%;
    border-bottom: 1px solid $border;
    padding: 4px 0;
    line-height: 2;
    font-weight: 400;
    font-size: 16px;
    color: $greyDark;
  }
}

@media only screen and (max-width: 768px) {
  #video-background {
    object-fit: fill; /* Adjust the video for smaller screens */
  }
  /* Tablet */
  .container {
    padding: 24px;
  }
}


  