<!-- flip-card-container -->
<video autoplay muted loop id="video-background">
    <source src="assets/oceanloop.mp4" type="video/mp4">
  </video>
<div class="flip-cards-wrapper">
<div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Brohm Lake">
          <figcaption>Flash Card 1</figcaption>
        </figure>
  
        <ul>
          <li> <h3>Comment l'océan et le corps humain sont-ils liés en termes de composition ?</h3></li>
          
        </ul>
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/bg2.JPG" >
        </figure>
  
        <button> Tous deux sont salés ! Le corps humain est composé à 60% d'eau, et l'eau de mer a une salinité similaire à celle de nos fluides corporels.</button>
  
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
  </div>
  <!-- /flip-card-container -->
  
  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image 2">
          <figcaption>Flash Card 2</figcaption>
        </figure>
  
        <ul>
          <li><h3>Quel rôle jouent les océans dans le maintien de la santé du corps humain ?</h3></li>
          
        </ul>
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="image-2">
        </figure>
  
        <button>Les océans régulent le climat, fournissent des ressources alimentaires (poissons et algues), et sont essentiels pour maintenir l'équilibre écologique, ce qui a un impact direct sur la santé humaine.</button>
  
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
  </div>
  <!-- /flip-card-container -->
  
  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Brohm Lake">
          <figcaption>Flash Card 3</figcaption>
        </figure>
  
        <ul>
          <li> <h3>Comment les systèmes circulatoires de l'océan et du corps humain se comparent-ils ?</h3></li>
          
        </ul>
      </div>
  
      <div class="card-back">
        <!-- only if the image is necessary -->
        <figure>
          <div class="img-bg"></div>
          <img src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Brohm Lake">
        </figure>
  
        <button>Tout comme le sang circule dans le corps humain pour transporter l'oxygène et les nutriments, l'océan a un système de courants marins qui transportent des éléments essentiels comme la chaleur et les nutriments à travers la planète.</button>
  
        <!-- can add svg here and remove these eight spans -->
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
  </div>
  <!-- /flip-card-container -->
  
  <a href="https://abubakersaeed.netlify.app/designs/d4-flip-card" class="abs-site-link" rel="nofollow noreferrer" target="_blank">abs/designs/d4-flip-card</a>
</div>
<!-- flip-card-container -->
<div class="flip-cards-wrapper">
    <div class="flip-card-container" style="--hue: 220">
        <div class="flip-card">
      
          <div class="card-front">
            <figure>
              <div class="img-bg"></div>
              <img src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Brohm Lake">
              <figcaption>Flash Card 4</figcaption>
            </figure>
      
            <ul>
              <li><h3>Pourquoi est-il important de protéger les océans pour la santé humaine ?</h3></li>
             
            </ul>
          </div>
      
          <div class="card-back">
            <figure>
              <div class="img-bg"></div>
              <img src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Brohm Lake">
            </figure>
      
            <button>La pollution de l'océan affecte la chaîne alimentaire, notamment les poissons que nous consommons. De plus, la dégradation des écosystèmes marins entraîne des déséquilibres climatiques qui impactent la santé humaine.
            </button>
      
            <div class="design-container">
              <span class="design design--1"></span>
              <span class="design design--2"></span>
              <span class="design design--3"></span>
              <span class="design design--4"></span>
              <span class="design design--5"></span>
              <span class="design design--6"></span>
              <span class="design design--7"></span>
              <span class="design design--8"></span>
            </div>
          </div>
      
        </div>
      </div>
      <!-- /flip-card-container -->
      
      <!-- flip-card-container -->
      <div class="flip-card-container" style="--hue: 170">
        <div class="flip-card">
      
          <div class="card-front">
            <figure>
              <div class="img-bg"></div>
              <img src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image 2">
              <figcaption>Flash Card 5</figcaption>
            </figure>
      
            <ul>
              <li><h3>En quoi l'équilibre entre l'eau dans le corps humain et l'eau des océans est-il essentiel ?
            </h3></li>
             
            </ul>
          </div>
      
          <div class="card-back">
            <figure>
              <div class="img-bg"></div>
              <img src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="image-2">
            </figure>
      
            <button>L'eau dans le corps humain et dans les océans est cruciale pour la régulation de la température corporelle, la digestion et les processus biologiques. Si cet équilibre est perturbé, cela peut affecter la santé humaine et les écosystèmes marins.
            </button>
      
            <div class="design-container">
              <span class="design design--1"></span>
              <span class="design design--2"></span>
              <span class="design design--3"></span>
              <span class="design design--4"></span>
              <span class="design design--5"></span>
              <span class="design design--6"></span>
              <span class="design design--7"></span>
              <span class="design design--8"></span>
            </div>
          </div>
      
        </div>
      </div>
      <!-- /flip-card-container -->
      
      <!-- flip-card-container -->
      <div class="flip-card-container" style="--hue: 350">
        <div class="flip-card">
      
          <div class="card-front">
            <figure>
              <div class="img-bg"></div>
              <img src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Brohm Lake">
              <figcaption>Flash Card 6</figcaption>
            </figure>
      
            <ul>
              <li><h3>Comment les changements climatiques affectent-ils à la fois le corps humain et les océans ?</h3></li>
              
            </ul>
          </div>
      
          <div class="card-back">
            <!-- only if the image is necessary -->
            <figure>
              <div class="img-bg"></div>
              <img src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Brohm Lake">
            </figure>
      
            <button>Le réchauffement des océans perturbe les écosystèmes marins, ce qui impacte la biodiversité et la sécurité alimentaire. Le réchauffement climatique affecte également la santé humaine en augmentant les risques de maladies liées à la chaleur et en perturbant les ressources naturelles.
            </button>
      
            <!-- can add svg here and remove these eight spans -->
            <div class="design-container">
              <span class="design design--1"></span>
              <span class="design design--2"></span>
              <span class="design design--3"></span>
              <span class="design design--4"></span>
              <span class="design design--5"></span>
              <span class="design design--6"></span>
              <span class="design design--7"></span>
              <span class="design design--8"></span>
            </div>
          </div>
      
        </div>
      </div>      
    </div>
    